<h1>Editing issue</h1>
<%= breadcrumbs_for home_crumb, projects_crumb, project_crumb(@project), "Edit: #{@issue.name}" %>

<%= render 'form' %>

<%= link_to 'Show', project_issue_path(@project, @issue) %> |
<%= link_to 'Back', project_issues_path(@project) %>
