@mixin rounded($radius: 4px) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($x-offset: 0, $y-offset: 2px, $blur: 4px, $choke: 0, $color: rgba(0,0,0,0.5)){
  -moz-box-shadow:    $x-offset $y-offset $blur $choke $color;
  -webkit-box-shadow: $x-offset $y-offset $blur $choke $color;
  box-shadow:         $x-offset $y-offset $blur $choke $color;
}

@mixin box-sizing($type: "border-box") {
	-moz-box-sizing: #{$type};
	-webkit-box-sizing: #{$type};
	box-sizing: #{$type};
}