html, body {}
body {padding: 0 40px; background: #fff url(/images/bg.jpg) 50% 0 no-repeat;}

.delete, .delete:link, .delete:visited {display: inline-block; text-decoration: none; line-height: 1; padding:0 4px 2px; color: #aaa; font-weight: bold;} 
.delete:hover, .delete:active {background: #900; color: #fff;}

nav {margin: 0 0 40px; padding:0 10px; background: #821e21;}
nav ul {list-style:none; margin:0; padding: 0; font-size: 12px;}
nav li {float: left; padding:10px 10px;}
nav a {display: block; float: left; padding: 10px 10px; margin: -10px -10px; color: #fff; font-weight: bold; text-decoration: none;}
nav .profile, nav .sign_out, nav .sign_in, nav .register {float: right;}

/* breadcrumbs
*/
.breadcrumbs {font-size: 12px; margin:-10px 0 20px;}