@import "mixins";

.assignee {
  font-size: 85%;
  &:hover {
    cursor: pointer; text-decoration: underline;
  }
  &:after {
    content: "\25BC"; font-size: 9px;
  }
}
.switch_assignee {font-size: 85%; display: inline-block; margin-left: 3px; display: inline-block; padding:0 2px; text-decoration: none;}
.change_assignee_list {position: absolute; background: #fff; padding: 5px; list-style: none; margin: 0; @include rounded; @include box-shadow(0, 0, 0, 5px, rgba(0,0,0,0.1));}
.change_assignee_list a {display: block;}
.change_assignee_list .arrow, .issues .change_assignee_list .arrow {border:10px solid #000; border-width:0 5px 8px; border-color: transparent transparent #ddd; width: 1px; height: 1px; position: absolute; top:-18px; right: 17px;}

.not_assigned {color: #900;}
