button, .button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dddddd url(/images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  background: -moz-linear-gradient(top center, white 0%, #dddddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: #fff 0 1px 1px;
  width: auto;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px; }

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px; }

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888; }

button:hover, .button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:focus, .button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #eeeeee));
  background: -moz-linear-gradient(top center, white 0%, #eeeeee 100%); }

button:active, .button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
  background: -moz-linear-gradient(top center, #eeeeee 0%, #cccccc 100%); }
