.issues {
  margin: 0;
  padding: 0;
  list-style: none; }

.issues li {
  margin: 0;
  padding: 2px 0;
  clear: both; }

.issues li:hover {
  background-color: #f0fafe; }

.issues li:nth-child(3n) {
  border-bottom: 1px solid #eee; }

.issues li:nth-child(3n+1) {
  border-bottom: 1px solid #f4f4f4; }

.issues li:nth-child(3n+2) {
  border-bottom: 1px solid #f4f4f4; }

.issues .status, .issue .status {
  display: inline-block;
  padding: 0px 3px 1px;
  background-color: #eee;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 5px; }

.issues small {
  color: #aaa; }

.issues .metadata {
  display: block;
  float: right; }

.issues .issue_number {
  display: inline-block;
  margin-right: 5px;
  color: #999;
  font-family: Georgia, serif;
  font-size: 12px; }

.issues .closed, .issues .closed a, .issues .closed small, .issues .closed span {
  color: #bbb; }

.issues a.open, .issue a.open {
  background-color: #060;
  color: #fff; }

.issues a.closed, .issue a.closed {
  background-color: #fff; }

.issues a.reopened, .issue a.reopened {
  background-color: #090;
  color: #fff; }

.issues a.resolved, .issue a.resolved {
  background-color: #e8bf67;
  color: #fff; }

.priority {
  font-size: 10px;
  padding: 1px 3px;
  background: #f4f4f4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #aaa; }

.normal {
  display: none; }

.high {
  color: red; }

.critical {
  color: #fff;
  background: red;
  font-weight: bold; }

.desc, span.comments, .images {
  padding: 1px 3px 1px 16px;
  background: rgba(0, 0, 0, 0.05) url(/images/doc.gif) 3px 3px no-repeat;
  font-size: 11px;
  color: #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

span.comments {
  background-image: url(/images/bubble.gif); }

.images {
  background-image: url(/images/polaroid.gif); }

/* new issue form
*/
#new_issue {
  margin-top: 20px; }

/* show
*/
.overview {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 0 20px; }

.description {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0; }

/* sort and filter menus
*/
.menu {
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: #aaa; }

.buttongroup {
  display: inline-block;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.menu a {
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid #ccc;
  background: #eee;
  border-right-width: 0;
  color: #666;
  text-decoration: none;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  background-image: -moz-linear-gradient(top, white, #eeeeee);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #eeeeee));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')";
  /* IE8 */ }

.buttongroup a:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.buttongroup a:last-child {
  border-right-width: 1px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.menu .selected {
  background: #666;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(top, #666666, #999999);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #999999));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#999999');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#999999')";
  /* IE8 */ }

.menu a small {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  padding: 1px 3px; }

.menu .selected small {
  background: rgba(255, 255, 255, 0.2); }

.menu .selected[data-sort-order="asc"]:after {
  content: " \25B2";
  font-size: 9px; }

.menu .selected[data-sort-order="desc"]:after {
  content: " \25BC";
  font-size: 9px; }
