.issues {
  margin: 0;
  padding: 0;
  list-style: none; }

.issues li {
  margin: 0;
  padding: 1px 0; }

.issues .status {
  display: inline-block;
  padding: 1px 3px;
  background: #eee; }

.issues small {
  color: #aaa; }

.issues a.opened {
  background: #060;
  color: #fff; }

.issues a.reopened {
  background: #090;
  color: #fff; }
