body {
  padding: 20px 40px; }

.delete, .delete:link, .delete:visited {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  padding: 0 4px 2px;
  color: #aaa;
  font-weight: bold; }

.delete:hover, .delete:active {
  background: #900;
  color: #fff; }
