.assignee {
  font-size: 85%; }
  .assignee:hover {
    cursor: pointer;
    text-decoration: underline; }
  .assignee:after {
    content: "\25BC";
    font-size: 9px; }

.switch_assignee {
  font-size: 85%;
  display: inline-block;
  margin-left: 3px;
  display: inline-block;
  padding: 0 2px;
  text-decoration: none; }

.change_assignee_list {
  position: absolute;
  background: #fff;
  padding: 5px;
  list-style: none;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  right: 15px;
  z-index: 10; }

.change_assignee_list li {
  cursor: pointer; }

.change_assignee_list li:hover {
  text-decoration: underline; }

.not_assigned {
  color: #900; }
