.assignee {
  font-size: 85%; }
  .assignee:hover {
    cursor: pointer;
    background: #f4f4f4; }

.switch_assignee {
  font-size: 85%;
  display: inline-block;
  margin-left: 3px;
  display: inline-block;
  padding: 0 2px;
  text-decoration: none; }

.change_assignee_list {
  position: absolute;
  background: #fff;
  padding: 5px;
  list-style: none;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1); }

.change_assignee_list a {
  display: block; }

.change_assignee_list .arrow, .issues .change_assignee_list .arrow {
  border: 10px solid #000;
  border-width: 0 5px 8px;
  border-color: transparent transparent #ddd;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -18px;
  right: 17px; }

.not_assigned {
  color: #900; }
