<ul>
  <% for @project in @projects %>
    <li>
      <h3><%= @project.name %></h3>
      <ul class="issues">
        <% for issue in @assignments.by_project(@project) %>
          <%= render :partial => "issues/item", :locals => {:issue => issue} %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
