<% page_title "Projects - Got Issues" %>
<h1>Got Issues</h1>
<%= breadcrumbs_for home_crumb, "Projects" %>

<h2>Open projects:</h2>
<ul>
  <% for project in @projects %>
    <%= render :partial => "projects/item", :locals => {:project => project} %>
  <% end %>
</ul>

<h2>Closed projects:</h2>
<ul>
  <% for project in @closed %>
    <%= render :partial => "projects/item", :locals => {:project => project} %>
  <% end %>
</ul>

<%= link_to 'New Project', new_project_path %>
