<h1>Got Issues</h1>

<h2>Projects:</h2>
<ul>
  <% for project in @projects %>
    <%= render :partial => "projects/item", :locals => {:project => project} %>
  <% end %>
</ul>

<%= link_to 'New Project', new_project_path %>
